body{
    margin-top: 40px;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6{
    font-family: Poppins;
}

p{
    font-family: Roboto;
}
.navbar-default{
    border: 0;
    font-family: Poppins;
}

.navbar-brand{
    font-size: 20px;
    color: #000 !important;
    font-weight: bold;
}

#showcase h1{
    font-size: 50px;
    margin-bottom: 20px;
}
#showcase img{
    width: 80%;
    margin-left: 40px;
    margin-top: 60px;
    margin-bottom: 40px;
}

#showcase .showcase-left{
    margin-top: 60px;
}

#info1{
    background-color: #f1f1f1;
    padding-bottom: 20px;

}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}
#a2{
    width: 50%;
    text-align: center;
}
#home{
    padding-top: 50px;
    padding-bottom: 20px;
}

#howtomake{
    padding-top: 40px;
    padding-bottom: 20px;
}
#info1 .info-right{
    margin-top: 90px;
}

#info1 img{
    width: 80%;
    margin-right: 40px;
    margin-top: 90px; 
    margin-bottom: 40px;
}

.a1{
    color: #000;
}
#contact{
    background: antiquewhite;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: #333 7px solid;
    border-bottom: #333 7px solid;
    color: black;
    margin-top: 50px;
}

footer{
    padding-bottom: 30px;
    font-size: 30px;
}
