body{
    margin-top: 70px;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6{
    font-family: Poppins;
}

p{
    font-family: Roboto;
}
.navbar-default{
    border: 0;
    font-family: Poppins;
}

.navbar-brand{
    font-size: 20px;
    color: #000 !important;
    font-weight: bold;
}

#showcase h1{
    font-size: 50px;
    margin-bottom: 20px;
}
#showcase img{
    width: 100%;
    margin-right: 60px;
}

#showcase .showcase-left{
    margin-top: 60px;
}

#info1{
    background-color: #f1f1f1;
    padding-bottom: 20px;

}

#info1 .info-right{
    margin-top: 90px;
}

#info1 img{
    width: 80%;
    margin-left: 60px;
    margin-top: 90px; 
}